html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.container {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(45deg, #667eea, #764ba2);
}

table {
  border-radius: 10px;
  box-shadow: 5px 3px 15px rgba(0,0,0,0.3);
  cursor: pointer;
}

h1 {
  font-weight: 100;
  font-size: 5em;
  margin: 10px;
  color: white;
}

th {
  min-width: 200px;
  background: rgb(45, 43, 70);
  color: white;
  padding: 15px;
  margin: 0;
  font-size: 1.5em;
}
th:first-child {
  border-top-left-radius: 10px;
}
th:last-child {
  border-top-right-radius: 10px;
}

td {
  text-align: center;
  padding: 10px;
}

tr {
  background: rgb(235, 235, 235);
}
tr:nth-child(odd) {
  background: whitesmoke;
}

tr:last-child td:first-child{
  border-bottom-left-radius: 10px;
}

tr:last-child td:last-child{
  border-bottom-right-radius: 10px;
}

/*Make the table responsive*/
@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
  h1 {
    font-size: 3em;
  }

  table {
    width: 100%;
  }

  table, thead, tbody, th, td, tr {
    display: block;
  }

  /* Hide table headers (but not display: none; for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px
  }

  tr {
    border: 1px solid #ccc;
  }

  td {
    border: none;
    border-bottom: 1px solid rgb(223, 223, 223);
    position: relative;
    padding-left: 50%;
  }

  td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  /* Label the data */
  td:nth-of-type(1):before {content: "Game Name"}
  td:nth-of-type(2):before {content: "Number of Players"}
  td:nth-of-type(3):before {content: "Current Turn"}
}